.section {
  scroll-margin-top: 80px; /* висота шапки + зазор */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* щоб anchor не ховався під sticky header */
.section {
  scroll-margin-top: 80px;
}

/* reserve space ALWAYS */
.divider-slot {
  height: 48px; /* = py-6 * 2 */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line itself */
.divider-line {
  width: 8rem; /* w-32 */
  height: 1px;
  background-color: rgb(163 163 163);
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition:
    opacity 1.2s ease,
    transform 1.2s ease;
}

.dark .divider-line {
  background-color: rgb(82 82 82);
}

.divider-line.shown {
  opacity: 1;
  transform: scaleX(1);
}

.delay-right {
  transition-delay: 200ms;
}

:root {
  --accent: #3B82F6;
}


.nav-link {
  color: #525252;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #2563eb; /* твій блакитний акцент */
}

.router-link-active {
  color: #2563eb;
  font-weight: 500;
}
